@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-gold {
    text-shadow: 1px 1px 2px #F2C94C;
  }
}

@layer utilities {
  @keyframes popIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}